
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="dashborad-bnr text-center">
        <img src="~/Content/images/bg-temple.jpg" class="img-responsive" style="width:100%; height:100%;" />

    </div>
</div>

